@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
      background-color: #41B3A3 ;
      color:  #191919;
    }
    .text-limit-to-two-line{
      overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 2; 
               line-clamp: 2;
       -webkit-box-orient: vertical;
    }
}

